<footer>
    <div class="footer-container">
        <div class="footer-headingContainer">
            <a class="imgWrapper --btn-logo" href="/"><img class="logo" style="width: 100%; height: auto;" src="/assets/logo.svg" alt=""></a>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
        </div>
        <div class="footer-linkContainer">
            <nav class="footer-card">
                <h3 class="flare4">Navigation</h3>
                <ul>
                    <li><a href="/" class="--btn-nav --typo-pSmall {% if page.url == '/' %}--flare-text-1{% endif %}">Home</a></li>
                    <li><a href="/about-us" class="--btn-nav --typo-pSmall {% if page.url == '/about-us/' %}--flare-text-1{% endif %}">About Us</a></li>
                    <li><a href="/contact" class="--btn-nav --typo-pSmall {% if page.url == '/contact/' %}--flare-text-1{% endif %}">Contact Us</a></li>
                </ul>
            </nav>

            <nav class="footer-card">
                <h3 class="flare4">Contact</h3>
                <ul>
                    <li><a class="--btn-nav --typo-pSmall" href="/contact#quote">Get a Quote</a></li>
                    <li><a class="--btn-nav --typo-pSmall" href="/contact#map">Visit Us</a></li>
                    <li><a class="--btn-nav --typo-pSmall" href="/contact">Contact Us</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="footer-band">Copyright 2024 <a style="display:inline;" href="https://showtheworld.digital">Show The World</a>. All rights reserved.</div>
</footer>