---
    title: FRC Ottawa Construction And Renovations | Contact Us
---

{% extends "boilerplate/base.njk" %}

    
{% block content %}
<section class="subHero">
    <div class="container --flare-background-2"><h1>Lorem Ipsum<br>Dolor Sit Amet</h1></div>
    <div class="imgWrapper">
    </div>
</section>

<section class="contactForm --flare-background-6" id="quote">
    <div class="container">
        <div class="contactInfo">
            <div class="top">
                <h2 class="--typo-formH2Small">Contact Info</h2>
                <p class="--typo-pSmall">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus tincidunt, nisl vel auctor aliquet, nisi lorem egestas nulla, ut sollicitudin enim ipsum non mauris.</p>
                <br>
                <p class="--typo-cell">Lorem ipsum dolor sit amet consectetur!</p>
            </div>
            <address>
                <a href="/" class="contactCard --typo-cell2" type=""><img src="/assets/phone_icon.svg" alt=""><div class="info"><span class="--flare-text-1">Owner name</span>  -  Lorem Ipsum</div></a>
                <a href="/" class="contactCard --typo-cell2" type=""><img src="/assets/email_icon.svg" alt=""><div class="info"><span class="--flare-text-1">Email</span>  -  lorem@ipsum.com</div></a>
                <div class="contactCard --typo-cell2"><img src="/assets/address_icon.svg" alt=""><div class="info"><span class="--flare-text-1">Address</span>  -  1234 Lorem Ipsum, Dolor Sit, Amet</div></div>
                <div class="contactCard --typo-cell2"><img src="/assets/hours_icon.svg" alt=""><div class="info"><span class="--flare-text-1">Hours</span>  -  Monday-Friday 9-5pm</div></div>
            </address>
        </div>
    </div>
    <div class="separator"></div>
    <form name="contact" >
        <h2 class="--typo-formH2Big">Request A <span class="--flare-text-1">Quote</span> Or Send Us A <span class="--flare-text-1">Message</span></h2>
        <div class="inpCard">
            <label class="--typo-inputLabel" for="name">Full Name</label>
            <input class="--typo-inputText" type="text" name="name" id="">
        </div>
        <div class="inpCard">
            <label class="--typo-inputLabel" for="phone">Phone Number</label>
            <input class="--typo-inputText" type="tel" name="phone" id="">
        </div>
        <div class="inpCard">
            <label class="--typo-inputLabel" for="email">Email</label>
            <input class="--typo-inputText" type="email" name="email" id="">
        </div>
        <div class="inpCard">
            <label class="--typo-inputLabel" for="message">Message</label>
            <textarea class="--typo-inputText" name="message" id="" cols="30" rows="10"></textarea>
        </div>
        <button class="--btn-submit --typo-btn1" type="submit">Send</button>
    </form>
</section>
    <section class="map" id="map">

        <iframe class="mapElem" zoom="200"  frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=Statue+of+Liberty+National+Monument,+New+York,+NY,+USA&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8"></iframe>
    </section>
{% endblock %}
