<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <meta name="description" content="">

    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="/styles/layouts.css">
    {% block links %}
    {% endblock %}


    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>




<body>
    {% if hasHeader | default(true) %}
        {% include "layouts/header.njk" ignore missing%}
    {% endif %}


    {% block content %}
    {% endblock %}


    {% if hasFooter | default(true) %}
        {% include "layouts/footer.njk" ignore missing%}
    {% endif %}



    {# script for netlify/decap-cms #}
    <script>
        if (window.netlifyIdentity) {
            window.netlifyIdentity.on("init", user => {
            if (!user) {
                window.netlifyIdentity.on("login", () => {
                document.location.href = "/admin/";
                });
            }
            });
        }
    </script>
</body>
</html>