<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <meta name="description" content="">


    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="/styles/layouts.css">
    {% block links %}
    {% endblock %}
</head>




<body>
    {% if hasHeader | default(true) %}
        {% include "layouts/header.njk" ignore missing%}
    {% endif %}


    {% block content %}
    {% endblock %}


    {% if hasFooter | default(true) %}
        {% include "layouts/footer.njk" ignore missing%}
    {% endif %}
</body>
</html>